/* Common Styles */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&family=Oswald:wght@200..700&display=swap');

* {
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
	list-style-type: none;
	font-family: 'Baloo Da 2', cursive;
}
html {
	font-size: 62.5%;
}
html,
body {
	width: 100%;
	overflow-x: hidden;
}

/* Section 1 */
.section-1 {
	height: 100vh;
	width: 100%;
	position: relative;
	background-image: url('images/dark-bg.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-size: cover;
}
.banner {
	width: 100%;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}
.bannner-heading {
	margin-bottom: 4rem;
	height: 20rem;
	overflow: hidden;
	perspective: 50rem;
}
.bannner-heading span {
	font-family: 'Oswald', sans-serif;
	font-size: 12rem;
	font-weight: 400;
	text-transform: uppercase;
	position: absolute;
	color: white;
	width: 100%;
	display: flex;
	justify-content: center;
	transform: translateZ(8rem);
	text-shadow: 0.3rem 0.3rem 0.4rem black 0.5;
	opacity: 0;
	letter-spacing: 3rem;
}
.heading-1 {
	animation: animateheading 12s 3s infinite;
}
.heading-2 {
	animation: animateheading 12s 6s infinite;
}
.heading-3 {
	animation: animateheading 12s 9s infinite;
}
.heading-4 {
	animation: animateheading 12s 12s infinite;
}

@keyframes animateheading {
	0% {
		transform: translateZ(8rem);
		opacity: 0;
		letter-spacing: 3rem;
	}
	3% {
		transform: translateZ(0);
		opacity: 1;
		letter-spacing: 1.5rem;
	}
	25% {
		transform: translateZ(0);
		opacity: 1;
		letter-spacing: 1.5rem;
	}
	28% {
		transform: translateZ(8rem);
		opacity: 0;
		letter-spacing: 3rem;
	}
	100% {
		transform: translateZ(8rem);
		opacity: 0;
		letter-spacing: 3rem;
	}
}

.banner-para {
	font-size: 4rem;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	background: rgba(0, 0, 0, 0.6);
	width: 30%;
	text-shadow: 1rem 1rem 4rem rgba(0, 0, 0, 0.5) 0.5;
	margin: 0 auto 4rem;
	opacity: 0;
	visibility: hidden;
	padding: 1rem 0;
	animation: fadeAnimation 1s 1.5s forwards;
}

@keyframes fadeAnimation {
	0% {
		visibility: hidden;
		opacity: 0;
	}

	100% {
		opacity: 1;
		visibility: visible;
	}
}

.banner-btn {
	color: white;
	height: 6rem;
	width: 30rem;
	font-size: 2rem;
	border-radius: 3rem;
	opacity: 0;
	visibility: hidden;
	border: 1px solid #800505;
	box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.5);
	background: linear-gradient(to right, #9b0e0e, #7a1010);
	text-shadow: 0.6rem 0.3rem 0.2rem rgba(0, 0, 0, 0.4);
	cursor: pointer;
	position: relative;
	overflow: hidden;

	animation: fadeAnimation 1s 2s forwards;
}
.banner-btn::before {
	content: '';
	width: 30rem;
	height: 6rem;
	position: absolute;
	top: 0;
	left: -100%;
	transform: skewX(-30deg);
	transition: left 0.5s;

	background: linear-gradient(to right, transparent, white, transparent);
}
.banner-btn:hover::before {
	left: 100%;
}

/*  Nav bar */

.navbar {
	width: 100%;
	height: 8rem;
	background: rgba(0, 0, 0, 0.9);
	position: fixed;
	top: 0;
	z-index: 10;
	padding: 3rem;
	transition: height 0.5s;
	top: -8rem;
	animation: animateNavbar 1s 0.5s forwards;
}
@keyframes animateNavbar {
	0% {
		top: -8rem;
	}
	100% {
		top: 0;
	}
}
.navbar.change {
	height: 100vh;
}
.logo {
	top: 1.5rem;

	left: 4rem;
	position: absolute;
}
.logo a {
	font-family: 'MADE Soulmaze', sans-serif;
	font-size: 2.5rem;
	color: #eee;
	letter-spacing: 0.1rem;
}
.logo span {
	font-family: 'MADE Soulmaze', sans-serif;
	font-size: 3.5rem;
	font-weight: bold;
	color: #9e0e09;
}
.nav-list {
	left: 50%;
	top: 25%;
	position: absolute;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	opacity: 0;
	visibility: hidden;
	align-items: center;
	transition: all 0.2s;
}
.change .nav-list {
	opacity: 1;
	visibility: visible;
	transition: all 0.7s 0.5s;
}
.nav-link {
	font-family: 'MADE Soulmaze', sans-serif;
	font-size: 4rem;
	letter-spacing: 0.3rem;
	color: white;
	margin: 2rem 0;
	transition: color 0.4s;
}
.nav-link:hover {
	color: #9e0e09;
}
/* menu */
.menu {
	width: 4rem;
	height: 4rem;
	position: fixed;
	z-index: 100;
	top: 2rem;
	right: 4rem;
	display: flex;
	justify-content: space-evenly;
	cursor: pointer;
	flex-direction: column;
}
.line {
	background: #eee;
	width: 100%;
	transition: transform 0.3s;
	height: 0.2rem;
}
.line-1 {
	width: 50%;
}
.change .line-1 {
	transform: translate(100%, 1rem) rotate(-35deg);
	transform-origin: right;
}
.line-3 {
	margin-left: auto;

	width: 50%;
}
.change .line-3 {
	transform: translateY(-1rem) rotate(35deg);
	transform-origin: right;
}
/* section-2 */
.section-2 {
	width: 100%;
	height: 110vh;
	background: #222020;
	display: flex;
	position: relative;
	overflow: hidden;
	align-items: center;
	padding: 0 4rem;
}
.section-heading {
	font-size: 10rem;
	font-weight: 300;
	color: #ddd;
	margin-right: 4rem;
	font-family: 'Oswald', sans-serif;
}
.fa-quote-left {
	align-self: flex-start;
	font-size: 5rem;
	margin-bottom: 2rem;
}
.fa-quote-right {
	align-self: flex-end;
	font-size: 5rem;
}
.section-heading-line {
	height: 0.2rem;
	background: #ddd;
	width: 15rem;
}

.section-2-para {
	width: 76rem;
	position: absolute;
	bottom: 4rem;
	right: 15rem;
	font-size: 2rem;
	color: #ddd;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: justify;
	text-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.7);
	border-top: 0.3rem double #aaa;
	padding: 1.5rem;
	border-bottom: 0.3rem double #aaa;
	line-height: 1.3;
}

.buttons {
	padding: 1.6rem 1rem 1rem 1rem;
}
.buttons i {
	color: white;
	font-size: 2rem;
}
.buttons button {
	background: none;
	border: none;
	cursor: pointer;
}
.video-wraper {
	width: 80rem;
	height: 40rem;
	position: absolute;
	top: 5rem;
	right: 15rem;

	overflow: hidden;
	box-shadow: 3rem 3rem 3rem rgba(0, 0, 0, 0.7);
}

.video {
	width: 100%;
	height: 100%;
	object-fit: contain;
	opacity: 0.3;
	transition: opacity 0.3s;
}

.controls {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	transform: translateY(calc(100% - 0.7rem));
	transition: transform 0.5s ease;
}

.video-wraper:hover .controls {
	transform: translateY(0);
}

.vedio-bar-wraper {
	width: 100%;
	height: 0.7rem;
	background: #000;
	position: relative;
	overflow: hidden;
}

.video-bar {
	width: 0;
	height: 100%;
	background: #d30819;
	transition: width 0.3s ease;
}

/* section 3 */

.section-3 {
	width: 100%;
	height: 100vh;
	background: #03070e;
	display: flex;
	align-items: center;
	padding-left: 10rem;
}
.pricing-card-wraper {
	justify-content: space-evenly;
	width: 100%; padding: 5rem ;
	display: flex;
}
.pricing-card {
	max-width: 24rem;
	width: 22rem !important;
	height: 45rem !important;
	background: #181b1d;
	border-radius: 1rem;
	/* transform: rotateY(180deg); */
	box-shadow: 2rem 2rem 6rem rgba(0, 0, 0, 0.7);
}
.pricing-card-front {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.pricing-card-heading {
	box-sizing: border-box;
	font-size: 2rem;
	font-weight: 300;
	color: white;
	width: 100%;
	height: 5rem;
	display: flex;
	align-items: center;
	padding: 0 2rem;
	background: #000;
}
.heading-free {
	background: linear-gradient(to right, #087285, #0da5d3);
	border-radius: 1rem 1rem 0 0;
}
.heading-basic {
	background: linear-gradient(to right, #946809, #bdba0e);
	border-radius: 1rem 1rem 0 0;
}
.heading-standard {
	background: linear-gradient(to right, #a10c14, #e23b3b);
	border-radius: 1rem 1rem 0 0;
}
.heading-premium {
	background: linear-gradient(to right, #0b7e48, #3be286);
	border-radius: 1rem 1rem 0 0;
}
.pricing-card-price {
	font-family: 'MADE Soulmaze' sans-serif;
	font-size: 7rem;
	font-weight: 300;
	color: white;
}

.pricing-card-list li {
	margin-bottom: 0.5rem;
}

.list-free li {
	color: #0da5d3;
}
.list-basic li {
	color: #bdba0e;
}
.list-standard li {
	color: #e23b3b;
}
.list-premium li {
	color: #3be286;
}
.pricing-card-list i {
	font-size: 1.8rem;
	width: 2.5rem;
}
.pricing-card-list span {
	font-size: 1.8rem;
	font-weight: 300;
	letter-spacing: 0.1rem;
}

.pricing-card-btn {
	width: 18rem;
	height: 4rem;
	margin-bottom: 3rem;
	border-radius: 3rem;
	border: none;
	font-size: 1.6rem;
	color: white;
	text-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.5);
	text-transform: uppercase;
}
.btn-free {
	background-color: #0da5d3;
}
.btn-standard {
	background-color: #bdba0e;
}
.btn-basic {
	background-color: #e23b3b;
}
.btn-premium {
	background-color: #3be286;
}
.pricing-card-back {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	transform: rotateY(180deg);
	border-radius: 1rem;
}
 .pricing-card-back link{
	font-size: 2.5rem; color: #fff;
 }
.back-free {
	background: linear-gradient(to right, #087285, #0da5d3);
}
.back-basic {
	background: linear-gradient(to right, #946809, #bdba0e);
	
}
.back-standard {
	background: linear-gradient(to right, #a10c14, #e23b3b);
	
}
.back-premium {
	background: linear-gradient(to right, #0b7e48, #3be286);
	
}
 