/* Common Styles */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&family=Oswald:wght@200..700&display=swap');

* {
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
	list-style-type: none;
	font-family: 'Baloo Da 2', cursive;
}
html {
	font-size: 62.5%;
}

/* Section 1 */
.section-1 {
	height: 100vh;
	width: 100%;
	position: relative;
	background-image: url('images/dark-bg.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-size: cover;
}
.banner {
	width: 100%;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}
.bannner-heading {
	margin-bottom: 4rem;
	height: 20rem;
	overflow: hidden;
	perspective: 50rem;
}
.bannner-heading span {
	font-family: 'Oswald', sans-serif;
	font-size: 12rem;
	font-weight: 400;
	text-transform: uppercase;
	position: absolute;
	color: white;
	width: 100%;
	display: flex;
	justify-content: center;
	transform: translateZ(8rem);
	text-shadow: 0.3rem 0.3rem 0.4rem black 0.5;
	opacity: 0;
	letter-spacing: 3rem;
}
.heading-1 {
	animation: animateheading 12s 3s infinite;
}
.heading-2 {
	animation: animateheading 12s 6s infinite;
}
.heading-3 {
	animation: animateheading 12s 9s infinite;
}
.heading-4 {
	animation: animateheading 12s 12s infinite;
}

@keyframes animateheading {
	0% {
		transform: translateZ(8rem);
		opacity: 0;
		letter-spacing: 3rem;
	}
	3% {
		transform: translateZ(0);
		opacity: 1;
		letter-spacing: 1.5rem;
	}
	25% {
		transform: translateZ(0);
		opacity: 1;
		letter-spacing: 1.5rem;
	}
	28% {
		transform: translateZ(8rem);
		opacity: 0;
		letter-spacing: 3rem;
	}
	100% {
		transform: translateZ(8rem);
		opacity: 0;
		letter-spacing: 3rem;
	}
}

.banner-para {
	font-size: 4rem;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	background: rgba(0, 0, 0, 0.6);
	width: 30%;
	text-shadow: 1rem 1rem 4rem rgba(0, 0, 0, 0.5) 0.5;
	margin: 0 auto 4rem;
	opacity: 0;
	visibility: hidden;
	padding: 1rem 0;
	animation: fadeAnimation 1s 1.5s forwards;
}

@keyframes fadeAnimation {
	0% {
		visibility: hidden;
		opacity: 0;
	}

	100% {
		opacity: 1;
		visibility: visible;
	}
}

.banner-btn {
	color: white;
	height: 6rem;
	width: 30rem;
	font-size: 2rem;
	border-radius: 3rem;
	opacity: 0;
	visibility: hidden;
	border: 1px solid #800505;
	box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.5);
	background: linear-gradient(to right, #9b0e0e, #7a1010);
	text-shadow: 0.6rem 0.3rem 0.2rem rgba(0, 0, 0, 0.4);
	cursor: pointer;
	position: relative;
	overflow: hidden;

	animation: fadeAnimation 1s 2s forwards;
}
.banner-btn::before {
	content: '';
	width: 30rem;
	height: 6rem;
	position: absolute;
	top: 0;
	left: -100%;
	transform: skewX(-30deg);
	transition: left 0.5s;

	background: linear-gradient(to right, transparent, white, transparent);
}
.banner-btn:hover::before {
	left: 100%;
}

/*  Nav bar */

.navbar {
	width: 100%;
	height: 100vh;
	/* height: 8rem; */
	background: rgba(0, 0, 0, 0.9);
	position: fixed;
	top: 0;
	z-index: 10;
	padding: 3rem;
}
.logo {
	top: 1.5rem;

	left: 4rem;
	position: absolute;
}
.logo a {
	font-family: 'MADE Soulmaze', sans-serif;
	font-size: 2.5rem;
	color: #eee;
	letter-spacing: 0.1rem;
}
.logo span {
	font-family: 'MADE Soulmaze', sans-serif;
	font-size: 3.5rem;
	font-weight: bold;
	color: #9e0e09;
}
.nav-list {
	left: 50%;
	top: 25%;
	position: absolute;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	/* display: none; */
}
.nav-link {
	font-family: 'MADE Soulmaze', sans-serif;
	font-size: 4rem;
	letter-spacing: 0.3rem;
	color: white;
	margin: 2rem 0;
	transition: color 0.4s;
}
.nav-link:hover {
	color: #9e0e09;
}
/* menu */
.menu {
	width: 4rem;
	height: 4rem;
	position: fixed;
	z-index: 100;
	top: 2rem;
	right: 4rem;
	display: flex;
	justify-content: space-evenly;
	cursor: pointer;
	flex-direction: column;
}
.line {
	background: #eee;
	width: 100%;
	height: 0.2rem;
}
.line-1 {
	width: 50%;
}
.line-3 {
	margin-left: auto;
	width: 50%;
}
